<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.poi.testpoi.mapper.HyDqsCMapper">

	<select id="selectstcd" resultType="Integer" parameterType="com.poi.testpoi.pojo.HyDqsC">
		select count(1) from hy_dqs_c where STCD=#{stcd} and SDTP=#{sdtp} and DT=#{dt}
	</select>
	
	<delete id="delete" parameterType="com.poi.testpoi.pojo.HyDqsC">
		delete from hy_dqs_c where
		STCD =#{stcd} 
		and SDTP=#{sdtp}
		and DT =#{dt} 
	</delete>
	
	<insert id="add" parameterType="com.poi.testpoi.pojo.HyDqsC">
        INSERT INTO hy_dqs_c (STCD,SDTP,DT,AVQS,AVQSRCD) VALUES (#{stcd},#{sdtp},#{dt},#{avqs},#{avqsrcd})
    </insert>

</mapper>