<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.poi.testpoi.mapper.HyDzCMapper">
	
	<select id="selectstcd" resultType="Integer" parameterType="com.poi.testpoi.pojo.HyDzC">
		select count(1) from hy_dz_c where STCD=#{stcd} and DT=#{dt}
	</select>
	<delete id="delete" parameterType="com.poi.testpoi.pojo.HyDzC">
		delete from hy_dz_c where
		STCD =#{stcd} 
		and DT =#{dt} 
	</delete>
	
	
	<insert id="add" parameterType="com.poi.testpoi.pojo.HyDzC">
        INSERT INTO hy_dz_c (STCD,DT,AVZ,AVZRCD) VALUES (#{stcd},#{dt},#{avz},#{avzrcd})
    </insert>

</mapper>