<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poi.testpoi.mapper.HyMtweEMapper">

	<select id="selectstcd" resultType="Integer" parameterType="com.poi.testpoi.pojo.HyMtweE">
		select count(1) from hy_mtwe_e where STCD=#{stcd} and EETP=#{eetp} and YR=#{year} and MTH=#{mth}
	</select>

	<delete id="delete" parameterType="com.poi.testpoi.pojo.HyMtweE">
		delete from hy_mtwe_e where
		STCD=#{stcd} and EETP=#{eetp} and YR=#{year} and MTH=#{mth}
	</delete>

	<insert id="add" parameterType="com.poi.testpoi.pojo.HyMtweE">
        INSERT INTO hy_mtwe_e (STCD,EETP,YR,MTH,WSFE,WSFERCD,MXDYE,MXDYERCD,MNDYE,MNDYERCD) VALUES (#{stcd},#{eetp},#{year},#{mth},#{wsfe},#{wsfercd},#{mxdye},#{mxdyercd},#{mndye},#{mndyercd})
    </insert>

</mapper>