<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.poi.testpoi.mapper.HyRvfhexBMapper">

	<select id="selectstcd" resultType="Integer" parameterType="com.poi.testpoi.pojo.HyRvfhexB">
		select count(1) from hy_rvfhex_b where STCD=#{stcd} and TM=#{tm}
	</select>

	<delete id="delete" parameterType="com.poi.testpoi.pojo.HyRvfhexB">
		delete from hy_rvfhex_b where
		STCD=#{stcd} and TM=#{tm}
	</delete>

	<insert id="add" parameterType="com.poi.testpoi.pojo.HyRvfhexB">
        INSERT INTO hy_rvfhex_b (STCD,TM,DAMBHDZ,DAMBHDZRCD,W,Q) VALUES (#{stcd},#{tm},#{dambhdz},#{dambhdzrcd},#{w},#{q})
    </insert>

</mapper>